# Copyright (c) 2011, Intel Corporation.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#

# The skip test file is a list of individual test cases or an entire group of
# tests to skip execution. The specified tests will never be run even if told
# to do so via a cmd line option. This file can be used for various reasons:
# 1) A known bug is failing a test case and a hardware vendor may wish to
#    execute the test suite without the nuisance of being reminded of this bug.
# 2) Tests which are not supported by a simulated hardware environment, will
#    run against a real device, but there is value in running the entire test
#    suite against the simulated hardware without failing on unsupported 
#    features.
#
# Rules:
#  1) Char '#' denotes a comment, all characters following '#' are ignored
#  2) Each line contain exactly 1 test case or 1 group of tests to skip
#  3) A line may contain both a test case or group reference followed by comment
#  4) The test case format string is: <grp>:<major>.<minor>
#  5) The group format string is: <grp>
#  6) Whitespace is ignored every where.
